.body{
 padding: 0px;
 margin:0px;
 box-sizing: border-box;
 
}
body::-webkit-scrollbar{
    display: none;
}
.container{
    display: flex;
    color: hsl(238, 22%, 44%);
}
.logo{
    flex: 1;
}
ul li{
    display: inline;
    margin: 3px;
}


.textcont .sp{
    font-size: 14px;
    color: hsl(238, 22%, 44%);
}
.textcont .h3{
    text-align: center;
}
.content{
    width: 100%;
    display: flex;
    align-items: center;
}
.ill1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width:250px;
    border: 2px solid rgb(233, 233, 237);
    box-shadow: 1px 2px 2px rgb(175, 170, 170);
    display: block;
    padding: 5px;
    margin-left: 3px;
    margin-top: 20px;
}
.bt{
    margin: 8px;
}
input{
    padding: 5px;
}
button{
    text-decoration: none;
    border: none;
    padding: 5px;
    margin-left: 5px;
    background-color:hsl(243, 90%, 59%);
}
button:hover{
    background-color: rgb(109, 206, 233);
    cursor: pointer;
}
.img2{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    
}
a{
    color: hsl(224, 93%, 58%);
    
}
a:hover{
   color: #08eaea;
}
.ill1 img{
    width: 300px;
    height: 300px;
}

.textcont1 .sp{
    font-size: 14px;
    color: hsl(238, 22%, 44%);
}
.textcont1 .h3{
    text-align: center;
}
.textcont1 button{
    margin-top: 10px;
}
h2{
    color:hsl(243, 87%, 12%);
}
.acc{
    margin-top: 40px;
    display: flex;
    max-width: fit-content;
    background-color: #7a6092;
}
.acc .content{
    width: 50%;
    display: block;
    color: white;
   padding:10px;
}
.btns{
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
} 
.btns button:hover{
    cursor: pointer;
    background-color: #67c2c2;
}
.btns input{
    padding: 5px;
    width:300px;
    margin-bottom: 15px;
    text-align: center;
}
.btns button{
    padding: 7px;
    color: hsl(0, 0%, 100%);
    background-color:hsl(224, 93%, 58%);
}
.foot{
    margin: 0px;
    background-color:  #250346;
}
.foot p{
    margin: 0px;
    padding: 15px 15px 0px;
    
}
.lk{
    display: flex;
    color: #c0b4b4;
    font-size: small;
}
.lk ul{
    flex-grow: 1;
}
.lk ul li{
   
    display: block;
}
.lk ul li img{
    width: 10px;
    padding-right: 5px;
}
.nag{
    display: flex;
}
i{
   
    border-radius: 50%;
    border: 1px solid white;
    width: 12px;
    text-align: center;
    padding: 3px;
}
.hv:hover{
    color: #5bcee5;
    cursor: pointer;
}
@media all and (max-width:600px){
    body{
        padding: 0px;
    }
    .container{
        display: block;
    }
    .content{
        display: block;
    }
    .acc{
        display: block;
        margin: 0px;
        padding: 0px;
    }
    .content{
        text-align: center;
    }
    .btns{
        padding: 15px;
    }
    .lk{
        display: block;
        
    }
    .container{
        position: relative;
    }
    .choice ul{
        position: absolute;
        right: 0;
        top: 0;
    }
    .choice ul li{
        margin: 1px;
    }
 .logo img{
        width:30px;
 }
}
